@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*
{
    font-family: 'Roboto', sans-serif;
}

li
{
    list-style: none;
}

a
{
    text-decoration: none;
}

ul
{
    padding: unset;
}

p{
    margin
}